* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-header {
    height: 100vh;
}

.container-nav nav {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins';
}

.title {
    font-size: 20px;
    font-weight: 600;
    user-select: none;
}

.title a {
    color: #7E57C2;
    text-decoration: none;
}

.nav li {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin: 0 15px;
}

.nav li a {
    text-decoration: none;
    color: #000;
    transition: color .2s ease-in-out;
}

.nav li a:hover {
    color: #7E57C2;
}

.container-nav nav .button-inscription {
    position: relative;
    font-weight: 500;
    color: #7E57C2;
    border: 2px solid #7E57C2;
    padding: 5px 15px;
    letter-spacing: .05em;
    cursor: pointer;
    user-select: none;
}

.container-nav nav .button-inscription::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: #7E57C2;
    width: 0;
    height: 100%;
    transition: .7s width ease-in-out;
    z-index: -1;
}

.container-nav nav .button-inscription:hover::before {
    width: 100%;
}

.container-nav nav .button-inscription a {
    font-weight: 500;
    color: #7E57C2;
    text-decoration: none;
    letter-spacing: .1em;
    transition: .7s color ease-in-out;
}

.container-nav nav .button-inscription:hover a {
    color: #fff;
}

.container-inscription {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    height: 40px;
    background: #D1C4E9;
    border-radius: 30px;
    animation: message 10s ease-in-out;
}

.message span {
    font-family: 'Poppins';
    color: #fff;
    animation: messageText 10s ease-in-out;
}

@keyframes message {
    0% {
        opacity: 0;
        width: 0;
    }
    15% {
        opacity: 1;
        width: 250px;
    }
    85% {
        opacity: 1;
        width: 250px;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}

@keyframes messageText {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.validation {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.validation .welcome {
    background: #D1C4E9;
    font-family: 'Poppins';
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 0 10px;
    border-radius: 20px;
    user-select: none;
    margin: 0 10px 0 0;
}

.validation .welcome h2 {
    color: #7E57C2;
    font-weight: 500;
    font-size: 25px;
    width: 268px;
    margin: 0 0 10px 0;
}

.validation .welcome h3 {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    width: 268px;
    margin: 0 0 30px 0;
}

.validation .buttons .button-validation,
.validation .buttons .button-platform {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Poppins';
    font-weight: 500;
    color: #7E57C2;
    border: 2px solid #7E57C2;
    padding: 5px 15px;
    cursor: pointer;
    transition: background .3s ease-in-out, color .3s ease-in-out;
    user-select: none;
    margin: 20px 0;
    letter-spacing: .05em;
    transition: .7s color ease-in-out;
    width: 200px;
    height: 40px;
    z-index: 1000;
}

.validation .buttons .button-validation:hover,
.validation .buttons .button-platform:hover {
    color: #fff;
}

.validation .buttons .button-validation::before,
.validation .buttons .button-platform::before {
    content: '';
    position: absolute;
    background: #7E57C2;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    transition: .7s width ease-in-out;
    z-index: -1;
}

.validation .buttons .button-validation:hover::before,
.validation .buttons .button-platform:hover::before {
    width: 100%;
}