* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

.container-header {
    height: 100vh;
}

.container-nav nav {
    height: 10vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-family: 'Poppins';
}

.title {
    font-size: 20px;
    font-weight: 600;
    user-select: none;
}

.title a {
    color: #7E57C2;
    text-decoration: none;
}

.nav li {
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    margin: 0 15px;
}

.nav li a {
    text-decoration: none;
    color: #000;
    transition: color .2s ease-in-out;
}

.nav li a:hover {
    color: #7E57C2;
}

.container-nav nav .button-inscription {
    font-weight: 600;
    color: #7E57C2;
    border: 2px solid #7E57C2;
    border-radius: 20px;
    padding: 5px 15px;
    letter-spacing: .05em;
    cursor: pointer;
    transition: background .3s ease-in-out, color .3s ease-in-out;
    user-select: none;
}

.container-nav nav .button-inscription:hover {
    background: #7E57C2;
    color: #fff;
}

.container-inscription {
    height: 90vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.message {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    opacity: 0;
    height: 40px;
    background: #D1C4E9;
    border-radius: 30px;
    animation: message 10s ease-in-out;
}

.message span {
    font-family: 'Poppins';
    color: #fff;
    animation: messageText 10s ease-in-out;
}

@keyframes message {
    0% {
        opacity: 0;
        width: 0;
    }
    15% {
        opacity: 1;
        width: 250px;
    }
    85% {
        opacity: 1;
        width: 250px;
    }
    100% {
        opacity: 0;
        width: 0;
    }
}

@keyframes messageText {
    0% {
        opacity: 0;
    }
    30% {
        opacity: 1;
    }
    65% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

.form-inscription {
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form-inscription .welcome {
    background: #D1C4E9;
    font-family: 'Poppins';
    width: 300px;
    height: 650px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 0 10px;
    border-radius: 20px;
    user-select: none;
    margin: 0 10px 0 0;
}

.form-inscription .welcome h2 {
    color: #7E57C2;
    font-weight: 500;
    font-size: 25px;
    width: 268px;
}

.form-inscription .welcome h3 {
    color: #fff;
    font-weight: 400;
    font-size: 15px;
    width: 268px;
}

.form {
    margin: 0 0 0 10px;
}

.form .timeline {
    width: 430px;
    display: flex;
    justify-content: space-between;
}

.form .timeline .point {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .timeline .point .circle {
    position: relative;
    width: 15px;
    height: 15px;
    background: #7E57C2;
    border-radius: 50%;
}

.form .timeline .point:nth-child(2) .circle, 
.form .timeline .point:nth-child(3) .circle {
    background: #d9d9d9;
    transition-delay: 1s;
}

.form .timeline .point .line {
    position: absolute;
    width: 0;
    height: 5px;
    background: #d9d9d9;
    top: 5px;
    left: 30px;
    z-index: -1;
}

.form .timeline .point:nth-child(3) .line {
    width: 0;
    left: -112px;
}

@keyframes animationColor {
    0% {
        width: 0;
    }
    100% {
        width: 155px;
    }
}

.form .timeline .point span {
    font-family: 'Poppins';
    font-size: 17px;
    font-weight: 500;
    color: #7E57C2;
    user-select: none;
}

.form .timeline .point:nth-child(2) span,
.form .timeline .point:nth-child(3) span {
    transition-delay: 1s;
    color: #d9d9d9;
}

.form .timeline .point:nth-child(3) {
    width: 105px;
    text-align: center;
}

.form .data {
    position: relative;
    width: 400px;
}

.form .data .data__attended {
    position: relative;
    background: #fff;
    height: 580px;
    z-index: 100;
}

.form .data .data__attendant,
.form .data .data__additional {
    position: absolute;
    background: #fff;
    top: 0;
    left: 0;
    opacity: 1;
    transition: opacity .5s linear;
}

.form .data .data__attendant {
    z-index: 50;
}

.form .data .data__additional {
    z-index: 10;
}

.form .data .input-data {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 15px 0;
}

.form .data .input-data:nth-child(1) {
    margin: 0;
}

.form .data .input-submit {
    width: 50px;
    height: 50px;
    background: #7E57C2;
    border-radius: 50%;
    position: absolute;
    right: -70px;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.form .data #submit__2 {
    right: -70px;
    bottom: 30px;
}

.form .data .input-submit i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 30px;
}

.form .data span {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    color: #868686;
    user-select: none;
}

.form .data input {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    height: 70px;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    padding: 0 25px;
    margin: 5px 0 0 0;
    outline: none;
}

.form .data input::placeholder {
    color: red;
}

.form .data input:focus {
    border: 2px solid #7E57C2;
}

.form .data .container-radio {
    display: flex;
    justify-content: space-around;
}

.form .data .container-radio__radio {
    width: 180px;
    height: 70px;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .data .container-radio__radio input {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
    border-color: #7E57C2;
}

.form .data .container-radio__radio input:checked {
    accent-color: #7E57C2;
}

.form .data .container-radio__radio span {
    color: #000;
    margin: 0 0 0 5px;
}

.form .data .container-profile {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 30px 0;
}

.form .data .container-profile .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form .data .container-profile .profile img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    cursor: pointer;
    object-fit: cover;
}

.form .data .container-profile .profile span {
    color: #000;
    margin: 5px 0;
}

.form .data .data__additional .input-data:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form .data input[type=submit] {
    width: 170px;
    height: 60px;
    background: #7E57C2;
    border: none;
    color: #fff;
    font-weight: 400;
    letter-spacing: .03em;
    cursor: pointer;
    transition: letter-spacing .2s linear;
}

.form .data input[type=submit]:hover {
    letter-spacing: .1em;
}