* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex; 
}

.container-navegation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    height: 100vh;
    background: #7E57C2;
}

.container-navegation .title h1 {
    font-family: 'Quicksand';
    font-size: 30px;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.container-navegation .navegation {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-navegation .navegation .nav {
    display: flex;
    align-items: center;
    width: 200px;
    margin: 10px 0;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none;
    transition: transform .3s ease-in-out;
}

.container-navegation .navegation #selected {
    transform: scale(1.1);
}

.container-navegation .navegation .nav:hover {  
    transform: scale(1.1);
}

.container-navegation .navegation .nav:hover i,
.container-navegation .navegation .nav:hover span,
.container-navegation .navegation #selected i,
.container-navegation .navegation #selected span {
    color: #fff;
}

.container-navegation .navegation .nav i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #efefef;
}

.container-navegation .navegation .nav span {
    font-family: 'Poppins';
    font-size: 18px;
    color: #efefef;
    margin: 0 0 0 10px;
}

.separator {
    width: 80%;
    height: 1px;  
    background: #fff;
    margin: 30px 0;
}

.container-navegation .logout {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.container-navegation .logout i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #efefef;
}

.container-navegation .logout span {
    font-family: 'Poppins';
    font-weight: 500;
    color: #efefef;
    letter-spacing: .07em;
    margin:  0 0 0 5px;
}

.container-navegation .logout:hover i,
.container-navegation .logout:hover span {
    color: #fff;
}

.background-content {
    width: 100%;
    background: #7E57C2;
    padding: 10px;
}

.container-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 20px;
}

.container-profile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 15vh;
    width: 100%;
}

.container-profile .search .search-bar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    height: 35px;
    background: #fff;
    border-radius: 20px;
    border: 2px solid #d9d9d9;
    margin: 0 30px;
}

.container-profile .search .search-bar i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    color: #000;
    margin: 0 10px;
}

.container-profile .search .search-bar input {
    font-family: 'Poppins';
    width: 450px;
    height: 25px;
    border: none;
    background: transparent;
    color: #000;
}

.container-profile .search .search-bar input::placeholder {
    color: #000;
}

.container-profile .search .search-bar input:focus  {
    outline: none;
}

.container-profile .profile-options {
    display: flex;
    align-items: center;
}

.container-profile .options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 30px;
}

.container-profile .options i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #7E57C2;
    cursor: pointer;
}

.container-profile .profile {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 60px;
    background: #7E57C2;
    border-radius: 20px;
    margin: 0 30px 0 0;
    user-select: none;
}

.container-profile .profile .image-profile {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    background: #fff;
    cursor: pointer;
}

.container-profile .profile .content-profile {
    display: flex;
    flex-direction: column;
}

.container-profile .profile .content-profile span {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 500;
    color: #fff;
}

.container-profile .profile .content-profile span:nth-child(2) {
    color: #d9d9d9;
    font-weight: 400;
}

.container-content .container-sections {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.container-content .container-sections {
    position: relative;
    width: 97%;
    height: 95%;
    border-radius: 20px;
}

.container-content .container-sections section {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container-content .container-sections section .section-title h2 {
    display: inline-block;
    font-family: 'Poppins';
    font-weight: 500;
    color: #7E57C2; 
    margin: 0 50px;
    user-select: none;
}

.container-content .container-sections .section-content {
    margin: 20px 50px;
}

.container-content .container-sections .section-content .card {
    position: relative;
    width: 320px;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-content .container-sections .section-content .card .imgBx {
    position: relative;
    width: 100%;
    height: 240px;
    background: #f00;
    border-radius: 15px;
    background-size: cover;
}

.container-content .container-sections .section-content .card .imgBx::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
}

.container-content .container-sections .section-content .card .imgBx::after {
    content: '';
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
}

.container-content .container-sections .section-content .card .content {
    position: relative;
    width: 100%;
    height: 150px;
    background: #7E57C2;
    border-radius: 15px;
    border-top-left-radius: 0;
    padding: 0 35px;
    user-select: none;
}

.container-content .container-sections .section-content .card .content ul {
    color: #fff;
    margin: 30px 0;
    font-family: 'Poppins';
    font-size: 18px;
    list-style: none;
}

.container-content .container-sections .section-content .card .content ul li i {
    margin: 0 5px 0 0;
}

.container-content .container-sections .section-content .card .content .identification {
    position: absolute;
    top: -80px;
    left: 0;
    height: 80px;
    width: 50%;
    background: #7E57C2;
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top-right-radius: 25px;
}

.container-content .container-sections .section-content .card .content .identification a {
    position: relative;
    background: #fff;
    color: #7E57C2;
    padding: 10px 20px;
    margin: 15px;
    display: block;
    border-radius: 7px;
    font-family: 'Quicksand';
    font-weight: 600;
    text-decoration: none;
}

.container-content .container-sections .section-content .card .content .identification::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px -10px 0 #fff;
}

.container-content .container-sections .section-content .card .content .identification::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -25px;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #7E57C2;
}

.container-content .container-sections .section-content table {
    font-family: 'Poppins';
}

.container-content .container-sections .section-content table th,
.container-content .container-sections .section-content table td {
    padding: 0 30px;
}
