* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
}

.container {
    display: flex; 
}

.container-navegation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 15%;
    height: 100vh;
    background: #7E57C2;
}

.container-navegation .title h1 {
    font-family: 'Quicksand';
    font-size: 30px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    user-select: none;
}

.container-navegation .navegation {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.container-navegation .navegation .nav {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    margin: 10px 0;
    padding: 10px 20px;
    cursor: pointer;
    user-select: none;
    transition: transform .4s;
}

.container-navegation .navegation #selected {
    transform: scale(1.1);
}

.container-navegation .navegation .nav:hover {  
    transform: scale(1.1);
}

.container-navegation .navegation .nav i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #d9d9d9;
}

.container-navegation .navegation .nav span {
    font-family: 'Poppins';
    font-size: 17px;
    color: #d9d9d9;
    margin: 0 0 0 10px;
}

.container-navegation .navegation .nav:hover i,
.container-navegation .navegation .nav:hover span,
.container-navegation .navegation #selected i,
.container-navegation .navegation #selected span {
    color: #fff;
}

.separator {
    width: 80%;
    height: 1px;  
    background: #fff;
    margin: 30px 0;
}

.container-navegation .logout {
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.container-navegation .logout i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    color: #d9d9d9;
}

.container-navegation .logout span {
    font-family: 'Poppins';
    font-weight: 400;
    color: #d9d9d9;
    margin:  0 0 0 5px;
    transition: letter-spacing .3s;
}

.container-navegation .logout:hover i,
.container-navegation .logout:hover span {
    color: #fff;
    letter-spacing: .05em;
}

.background-content {
    width: 100%;
    background: #7E57C2;
    padding: 10px;
}

.container-content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 20px;
}

.container-profile {
    display: flex;
    align-items: center;
    justify-content: right;
    height: 15vh;
    width: 100%;
}

.container-profile .profile-options {
    display: flex;
    align-items: center;
}

.container-profile .options {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    margin: 0 50px;
}

.container-profile .options i {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    color: #7E57C2;
    cursor: pointer;
}

.container-profile .profile,
.container-messages .profile-message {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 200px;
    height: 60px;
    border-radius: 20px;
    margin: 0 30px 0 0;
    user-select: none;
}

.container-profile .profile {
    flex-direction: row-reverse;
}

.container-messages .profile-message {
    position: relative;
    width: 220px;
    background: #fff;
    box-shadow: 0 0 15px rgba(0, 0, 0, .25);
    border-radius: 10px;
    margin: 0;
    cursor: pointer;
    transition: .5s;
}

.container-messages .profile-message:nth-child(1) {
    transform: translateZ(-75px) translateY(20px);
    opacity: .6;
}

.container-messages .profile-message:nth-child(3) {
    transform: translateZ(75px) translateY(-30px);
    opacity: .7;
}

.container-messages .profile-message:nth-child(4) {
    transform: translateZ(110px) translateY(-55px);
    opacity: .8;
}

.container-messages .profile-message:nth-child(n + 5) {
    transform: translateZ(150px) translateY(-80px);
    opacity: .8;
}

.container-profile .profile .image-profile,
.container-messages .profile-message .image-profile {
    position: relative;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #fff;
    border: 1px solid #fff;
    cursor: pointer;
}

.container-messages .profile-message .image-profile::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    background: green;
    border-radius: 50%;
    bottom: 0;
    right: 0;
}

.container-profile .profile .image-profile img,
.container-messages .profile-message .image-profile img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.container-profile .profile .content-profile,
.container-messages .profile-message .content-profile {
    display: flex;
    flex-direction: column;
}

.container-profile .profile .content-profile {
    align-items: end;
}

.container-profile .profile .content-profile span,
.container-messages .profile-message .content-profile span {
    font-family: 'Poppins';
    font-size: 15px;
    font-weight: 500;
    color: #7E57C2;
}

.container-messages .profile-message .content-profile span {
    color: #000;
}

.container-profile .profile .content-profile span:nth-child(2),
.container-messages .profile-message .content-profile span:nth-child(2) {
    color: #868686;
    font-weight: 400;
}

.container-messages .profile-message .content-profile span:nth-child(2) {
    color: #868686;
}

.container-content .container-sections {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 97%;
    height: 95%;
    border-radius: 20px;
}

.container-content .container-sections section {
    position: absolute;
    width: 100%;
    height: 100%;
}

.container-content .container-sections section .section-title h2 {
    display: inline-block;
    font-family: 'Poppins';
    font-weight: 500;
    color: #7E57C2; 
    margin: 0 50px;
    user-select: none;
}


.container-content .container-sections .sorter-add {
    display: flex;
    align-items: center;
    margin: 30px 0 30px 50px;
}

.container-content .container-sections .sorter-add .button-add i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    color: #7E57C2;
    cursor: pointer;
}

.container-content .container-sections .sorter-add .sorter-by span {
    font-family: 'Poppins';
    font-size: 14px;
    margin: 0 0 0 20px;
}

.container-content .container-sections .sorter-add .sorter-by select {
    margin: 0 0 0 5px;
    border: none;
    background: #D1C4E9;
    color: #fff;
    border-radius: 5px;
    padding: 5px;
    text-align: center;
    appearance: none;
}

.container-content .container-sections .sorter-add .sorter-by select:focus {
    outline: none;
}

.container-content .container-sections .sorter-add .search {
    margin: 0 50px;
}

.container-content .container-sections .sorter-add .search input {
    border: none;
    background: #D1C4E9;
    border-radius: 20px;
    font-family: 'Poppins';
    font-size: 14px;
    color: #fff;
    padding: 3px 15px;
}

.container-content .container-sections .sorter-add .search input:focus {
    outline: none;
}

.container-content .container-sections .sorter-add .search input::placeholder {
    color: #fff;
}

.container-content .container-sections .section-content {
    display: flex;
    flex-wrap: wrap;  
    overflow-y: scroll;
    max-height: 90%;
    margin: 20px 0 0 20px;
}

.container-content .container-sections #section-donations .section-content {
    flex-wrap: nowrap;
    flex-direction: column;
}

.container-content .container-sections .section-content::-webkit-scrollbar {
    width: 0;
}

.container-content .container-sections .section-content .container-information {
    margin: 0 20px;
    width: 400px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    background: #D1C4E9;
}

.container-content .container-sections .section-content .container-information .image-profile {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    padding: 10px;
}

.container-content .container-sections .section-content .container-information .image-profile img {
    object-fit: cover;
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

.container-content .container-sections .section-content .container-information .information {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    font-family: 'Poppins';
    user-select: none;
}

.container-content .container-sections .section-content .container-information .information .title-information {
    text-align: center;
}

.container-content .container-sections .section-content .container-information .information .title-information h2 {
    color: #7E57C2;
    font-size: 28px;
}

.container-content .container-sections .section-content .container-information .information .title-information span {
    color: #fff;
    font-size: 16px;
}

.container-content .container-sections .section-content .container-information .information .span-information {
    display: flex;
    align-items: center;
    margin: 5px 0;
    cursor: pointer;
    transition: transform .4s ease-in-out;
}

.container-content .container-sections .section-content .container-information .information .span-information:hover {
    transform: scale(1.05);
}

.container-content .container-sections .section-content .container-information .information .span-information:nth-child(2) {
    margin: 20px 0 5px 0;
}

.container-content .container-sections .section-content .container-information .information .span-information:last-child span {
    color: #7E57C2;
    transition: letter-spacing .5s;
}

.container-content .container-sections .section-content .container-information .information .span-information:last-child:hover {
    transform: scale(1);
}

.container-content .container-sections .section-content .container-information .information .span-information:last-child:hover span {
    letter-spacing: .07em;
}

.container-content .container-sections .section-content .container-information .information i {
    font-size: 17px;
    color: #7E57C2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-content .container-sections .section-content .container-information .information span {
    font-size: 17px;
    margin: 0 10px;
}

.container-content .container-sections .section-content .card {
    position: relative;
    width: 320px;
    height: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 10px 20px;
}

.container-content .container-sections .section-content .card .imgBx {
    position: relative;
    width: 100%;
    height: 210px;
    background: #D1C4E9;
    border-radius: 15px;
}

.container-content .container-sections .section-content .card .imgBx img {
    width: 100%;
    height: 100%;
    border-radius: 15px;
    object-fit: cover;
}   

.container-content .container-sections .section-content .card .imgBx::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
}

.container-content .container-sections .section-content .card .imgBx::after {
    content: '';
    position: absolute;
    bottom: 70px;
    left: 0;
    width: 20px;
    height: 20px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #fff;
}

.container-content .container-sections .section-content .card .content {
    position: relative;
    width: 100%;
    height: 100px;
    background: #7E57C2;
    border-radius: 15px;
    border-top-left-radius: 0;
    padding: 0 25px;
    user-select: none;
}

.container-content .container-sections .section-content .card .content ul {
    color: #fff;
    margin: 10px 0;
    font-family: 'Poppins';
    font-size: 17px;
    list-style: none;
}

.container-content .container-sections .section-content .card .content ul li i {
    margin: 0 5px 0 0;
}

.container-content .container-sections .section-content .card .content .identification,
.container-content .container-sections .section-content .card .content .group {
    position: absolute;
    top: -80px;
    left: 0;
    height: 80px;
    width: 50%;
    background: #7E57C2;
    border-top: 10px solid #fff;
    border-right: 10px solid #fff;
    border-top-right-radius: 25px;
}

.container-content .container-sections .section-content .card .content .identification a,
.container-content .container-sections .section-content .card .content .group a {
    position: relative;
    background: #fff;
    color: #7E57C2;
    padding: 10px 20px;
    margin: 15px;
    display: block;
    border-radius: 7px;
    font-family: 'Quicksand';
    font-size: 15px;
    font-weight: 600;
    text-decoration: none;
    text-align: center;
    cursor: pointer;
}

.container-content .container-sections .section-content .card .content .identification a {
    z-index: 1;
}

.container-content .container-sections .section-content .card .content .group a { 
    opacity: 0;
}

.container-content .container-sections .section-content .card .content .identification::before,
.container-content .container-sections .section-content .card .content .group::before {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px -10px 0 #fff;
}

.container-content .container-sections .section-content .card .content .identification::after,
.container-content .container-sections .section-content .card .content .group::after {
    content: '';
    position: absolute;
    bottom: 0;
    right: -25px;
    width: 25px;
    height: 25px;
    background: transparent;
    border-radius: 50%;
    box-shadow: -10px 10px 0 #7E57C2;
}

.container-content .container-sections .section-content table {
    font-family: 'Poppins';
    user-select: none;
    border-collapse: separate;
    border-spacing: 0 5px;
    margin: 0 0 0 15px;
}

.container-content .container-sections .section-content table th {
    font-weight: 500;
    color: #7E57C2;
}

.container-content .container-sections .section-content table th,
.container-content .container-sections .section-content table td {
    text-align: left;
    padding: 0 50px;
}

.container-content .container-sections .section-content table td {
    padding: 5px 50px;
}

.container-content .container-sections .section-content table td img {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    object-fit: cover;
    display: flex;
}

.container-content .container-sections .section-content table td:first-child {
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.container-content .container-sections .section-content table td:last-child {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.container-content .container-sections .section-content table .button-accept,
.container-content .container-sections .section-content table .button-decline,
.container-content .container-sections .section-content table .button-edit,
.container-content .container-sections .section-content table .button-delete {
    width: 30px;
    height: 30px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 7px;
    padding: 2px 10px;
    margin: 0 3px;
    transition: .7s ease-in-out, background .3s, color .3s;
}

.container-content .container-sections .section-content table .button-accept i,
.container-content .container-sections .section-content table .button-decline i,
.container-content .container-sections .section-content table .button-edit i,
.container-content .container-sections .section-content table .button-delete i {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}

.container-content .container-sections .section-content table tr:nth-child(even) {
    background: #D1C4E9;
    color: #fff;
}

.container-content .container-sections .section-content table tr:nth-child(even) td a {
    color: #fff;
    text-decoration: none;
}

.container-content .container-sections .section-content table tr:nth-child(odd) td a {
    color: #000;
    text-decoration: none;
}

.container-content .container-sections .section-content table tr:nth-child(even) .button-accept, 
.container-content .container-sections .section-content table tr:nth-child(even) .button-decline,
.container-content .container-sections .section-content table tr:nth-child(even) .button-edit,
.container-content .container-sections .section-content table tr:nth-child(even) .button-delete {
    background: #fff;
}

.container-content .container-sections .section-content table tr:nth-child(even) .button-accept i, 
.container-content .container-sections .section-content table tr:nth-child(even) .button-decline i,
.container-content .container-sections .section-content table tr:nth-child(even) .button-edit i,
.container-content .container-sections .section-content table tr:nth-child(even) .button-delete i {
    color: #D1C4E9;
}

.container-content .container-sections .section-content table tr:nth-child(odd) {
    background: #fff;
}

.container-content .container-sections .section-content table tr:nth-child(odd) .button-accept,
.container-content .container-sections .section-content table tr:nth-child(odd) .button-decline,
.container-content .container-sections .section-content table tr:nth-child(odd) .button-edit,
.container-content .container-sections .section-content table tr:nth-child(odd) .button-delete {
    background: #D1C4E9;
}

.container-content .container-sections .section-content table tr:nth-child(odd) .button-accept i,
.container-content .container-sections .section-content table tr:nth-child(odd) .button-decline i,
.container-content .container-sections .section-content table tr:nth-child(odd) .button-edit i,
.container-content .container-sections .section-content table tr:nth-child(odd) .button-delete i {
    color: #fff;
}

.container-content .container-sections .section-content .container-data-donations {
    display: inline-flex;
    margin: 30px;
}

.container-content .container-sections .section-content .container-data-donations .total-donation,
.container-content .container-sections .section-content .container-data-donations .mount-donation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 140px;
    height: 80px;
    background: #D1C4E9;
    padding: 10px;
    border-radius: 10px;
    user-select: none;
    margin: 0 30px 0 0;
    box-shadow: 2px 2px 10px #7E57C2;
}

.container-content .container-sections .section-content .container-data-donations .total-donation span,
.container-content .container-sections .section-content .container-data-donations .mount-donation span {
    text-align: center;
    font-family: 'Poppins';
    font-size: 15px;
    color: #fff;
}

.container-content .container-sections .section-content .container-data-donations .total-donation span:nth-child(1),
.container-content .container-sections .section-content .container-data-donations .mount-donation span:nth-child(1) {
    color: #7E57C2;
    font-size: 18px;
    font-weight: 600;
}

.container-content .container-sections .section-content .container-donation {
    margin: 30px;
}

.container-content .container-sections .section-content .container-donation h2 {
    color: #7E57C2;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
}

.container-content .container-sections .section-content .container-donation input {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    height: 70px;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    padding: 0 25px;
    margin: 5px 0 0 0;
    outline: none;
}

.container-content .container-sections .section-content .container-donation input:focus {
    border: 2px solid #7E57C2;
}

#paypal-button-container {
    width: 500px;
    padding: 0 30px;
}

.container-content .container-sections .section-content .container-report {
    display: flex;
    margin: 0 30px;
}

.container-content .container-sections .section-content .container-report span {
    font-family: 'Poppins';
}

.container-content .container-sections .section-content .container-report .card-report {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: #D1C4E9;
    border-radius: 10px;
    padding: 10px;
    margin: 0 20px 0 0;
    width: 400px;
    max-height: 500px;
}

.container-content .container-sections .section-content .container-report .card-report span {
    font-family: 'Poppins';
    font-size: 16px;
    color: #fff;
}

.container-content .container-sections .section-content .container-report .card-report span:last-child {
    margin: 30px 0 0 0;
}

.container-messages {
    position: absolute;
    right: 11%;
    top: 12%;   
    transform-style: preserve-3d;
    perspective: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0;
    opacity: 0;
    z-index: -1;
    transition: .5s;
}

.container-messages:hover {
    gap: 10px;
    top: 15%;
}

.container-messages:hover .profile-message {
    opacity: 1;
    transform: translateZ(0) translateY(0);
}

.container-chat {
    position: absolute;
    width: 300px;
    height: 450px;
    background: #7E57C2;
    bottom: 5%;
    right: 3%;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    z-index: -1;
    opacity: 0;
    user-select: none;
    transition: opacity 1s, z-index 1s;
}

.container-chat__title {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
}

.container-chat__title h2 {
    font-family: 'Poppins';
    font-size: 19px;
    font-weight: 400;
    color: #fff;
    cursor: pointer;
}

.container-chat__background {
    height: 90%;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 1px 1px #000;
}

.container-chat__background .container-content {
    height: 80%;
    overflow: auto;
}

.container-chat__background .container-content::-webkit-scrollbar {
    width: 0;
}

.container-chat__background table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 20px;
}

.container-chat__background table tr {
    height: 70px;
}

.container-chat__background table td {
    display: inline-block;
    font-family: 'Poppins';
    font-size: 15px;
    padding: 5px 10px;
    margin: 15px 10px;
    color: #fff;
    border-radius: 10px;
    max-width: 200px;
}

.container-chat__background table tr:nth-child(1) td {
    margin: 30px 10px 20px 10px;
}


.container-chat__background table tr td span {
    position: absolute;
    font-size: 12px;
    color: #868686;
    left: 12px;
    top: -7px;
}

.container-chat__background table tr:nth-child(1) td span {
    top: 7px;
}

.container-chat__background .container-send {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-chat__background .container-send .bar-send {
    width: 270px;
    height: 35px;
    border-radius: 20px;
    border: 2px solid #d9d9d9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.container-chat__background .container-send .bar-send input {
    width: 220px;
    height: 25px;
    padding: 0 5px;
    outline: none;
    border: none;
    background: transparent;
    color: #000;
}

.container-chat__background .container-send .bar-send input::placeholder {
    color: #868686;
}

.container-chat__background .container-send .bar-send i {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #7E57C2;
    font-size: 18px;
    cursor: pointer;
}

.container-edit-profile,
.container-edit-activity, 
.container-add-activity,
.container-add-report {
    width: 100%;
    height: 100vh;
    position: absolute;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, .8);
    z-index: -1;
}

.container-edit-profile .edit-profile,
.container-edit-activity .edit-activity,
.container-add-activity .add-activity,
.container-add-report .add-report {
    width: 500px;
    background: #fff;
    border-radius: 20px;
    padding: 20px 0;
    position: absolute;
    max-height: 700px;
    overflow-y: scroll;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 100;
}

.container-edit-profile .edit-profile::-webkit-scrollbar,
.container-edit-activity .edit-activity::-webkit-scrollbar,
.container-add-activity .add-activity::-webkit-scrollbar,
.container-add-report .add-report::-webkit-scrollbar {
    width: 0;
}

.container-edit-profile .edit-profile .close-edit,
.container-edit-activity .edit-activity .close-edit,
.container-add-activity .add-activity .close-add,
.container-add-report .add-report .close-add {
    position: absolute;
    top: 2%;
    right: 2%;
}

.container-edit-profile .edit-profile .close-edit i,
.container-edit-activity .edit-activity .close-edit i,
.container-add-activity .add-activity .close-add i,
.container-add-report .add-report .close-add i {
    display: flex;
    justify-content: right;
    align-items: center;
    border-radius: 50%;
    padding: 7px;
    cursor: pointer;
    color: #7E57C2;
}

.container-edit-profile .edit-profile .close-edit i:hover,
.container-edit-activity .edit-activity .close-edit i:hover,
.container-add-activity .add-activity .close-add i:hover,
.container-add-report .add-report .close-add i:hover {
    background: #D1C4E9;
}

.container-edit-profile .edit-profile .input-data,
.container-edit-activity .edit-activity .input-data,
.container-add-activity .add-activity .input-data,
.container-add-report .add-report .input-data {
    display: flex;
    flex-direction: column;
    width: 400px;
    margin: 15px 0;
}

.container-edit-profile .edit-profile span,
.container-edit-activity .edit-activity span,
.container-add-activity .add-activity span,
.container-add-report .add-report span {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    color: #868686;
    user-select: none;
}

.container-edit-profile .edit-profile input,
.container-edit-activity .edit-activity input,
.container-add-activity .add-activity input,
.container-add-report .add-report input {
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 18px;
    height: 70px;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    padding: 0 25px;
    margin: 5px 0 0 0;
    outline: none;
}

.container-edit-profile .edit-profile input:focus,
.container-edit-activity .edit-activity input:focus,
.container-add-activity .add-activity input:focus,
.container-add-report .add-report input:focus {
    border: 2px solid #7E57C2;
}

.container-edit-profile .edit-profile .container-radio {
    display: flex;
    justify-content: space-around;
}

.container-edit-profile .edit-profile .container-radio__radio {
    width: 180px;
    height: 70px;
    border: 2px solid #d9d9d9;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-edit-profile .edit-profile .container-radio__radio input {
    width: 20px;
    height: 20px;
    margin: 0 5px 0 0;
    border-color: #7E57C2;
}

.container-edit-profile .edit-profile .container-radio__radio input:checked {
    accent-color: #7E57C2;
}

.container-edit-profile .edit-profile .container-radio__radio span {
    color: #000;
    margin: 0 0 0 5px;
}

.container-edit-profile .edit-profile .input-data:last-child,
.container-edit-activity .edit-activity .input-data:last-child,
.container-add-activity .add-activity .input-data:last-child,
.container-add-report .add-report .input-data:last-child {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container-edit-profile .edit-profile input[type=submit],
.container-edit-activity .edit-activity input[type=submit],
.container-add-activity .add-activity input[type=submit],
.container-add-report .add-report input[type=submit] {
    width: 170px;
    height: 60px;
    background: #7E57C2;
    border: none;
    color: #fff;
    font-weight: 400;
    letter-spacing: .03em;
    cursor: pointer;
    transition: letter-spacing .2s linear;
}

.container-edit-profile .edit-profile input[type=submit]:hover,
.container-edit-activity .edit-activity input[type=submit]:hover,
.container-add-activity .add-activity input[type=submit]:hover,
.container-add-report .add-report input[type=submit]:hover {
    letter-spacing: .1em;
}
